body {
     display: flex;
     align-items: center;
     justify-content: center;
     height:100vh;
}

.app {
    display: flex;
    flex-direction:column;
    gap:20px;
    padding:1rem;
    height:500px;
    background-color:rgba(137, 128, 128, 0.941);
    box-shadow:0 10px 0 10px 0.5;
    border-radius:20px;
}


.energySelector {
     display: flex;
     flex-direction:column;
     align-items: center;
     justify-content: center;
}

.btn-container {
      display: flex;
      justify-content:space-between;
}


.btn {
     padding:5px;
     border-radius:5px;
     border:none;
     cursor:pointer;
}


.inputContainer {
      padding:5px;
}

form {
      margin-top:40px; 
      display: flex;
      flex-direction:column;
      gap:10px; 
}

form label {
       text-align:center;
}

.inputContainer {
      border-radius:5px;
      background-color:whitesmoke;
      border-style:none;
      padding:10px;
      
}

.statusContainer {
      display: flex;
      align-items:center;
      flex-direction:column;
}

h3 {
      background-color:rgb(252, 250, 255);
}