@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color:white;
    overflow-x:hidden;
}

form {
     height:100%;
     width:100%;
     display:grid;
     grid-template-columns:1fr 1fr 1fr;
     grid-template-rows:1fr,1fr ,1fr;
     gap:30px;
     padding:5rem 10rem 5rem 1rem;
     background-color:black;
     
     
}

form label {
     color:white;
     font-family:"Roboto",sans-serif;
     font-size:xx-large;
}

form input {
     height:1.5rem;
     width:20rem;
}

.item {
     display: flex;
     flex-direction:column;
     gap:10px;
}


.submit {
      text-align:center;
      margin-top:10px;
}

.submit button {
      padding:5px;
      border-radius:5px;
      border:none;
      width:200px;
      font-size:xx-large;
      cursor:pointer;
      background-color:red;
      transition:0.5s ease-in-out;
}

.submit button:hover {
      background-color:white;
      border:10px thin;
      border-color:lightgreen;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

